# Mini‚Äëproyecto: Funciones Modulares para Limpieza de Datos

En este notebook se define un conjunto de funciones para limpiar datos, probarlas con un dataset peque√±o y obtener estad√≠sticas b√°sicas.

## üìÇ Dataset

Usaremos un dataset peque√±o en formato CSV con informaci√≥n de edad, ingresos y ciudad.

In [ ]:
import pandas as pd

df = pd.read_csv('datos_ejemplo.csv')
df

In [ ]:
def eliminar_duplicados(df):
    """
    Elimina filas duplicadas de un DataFrame.
    
    Par√°metros:
    df (DataFrame): conjunto de datos original.
    
    Retorna:
    DataFrame sin filas duplicadas.
    """
    return df.drop_duplicates()

In [ ]:
def reemplazar_nulos(df, valor=0):
    """
    Reemplaza valores nulos por un valor dado.
    
    Par√°metros:
    df (DataFrame): conjunto de datos.
    valor: valor para reemplazar los nulos.
    
    Retorna:
    DataFrame sin valores nulos.
    """
    return df.fillna(valor)

In [ ]:
def convertir_tipo(df, columna, tipo):
    """
    Convierte el tipo de datos de una columna.
    
    Par√°metros:
    df (DataFrame): conjunto de datos.
    columna (str): nombre de la columna.
    tipo: tipo de dato a convertir.
    
    Retorna:
    DataFrame con la columna convertida.
    """
    df[columna] = df[columna].astype(tipo)
    return df

In [ ]:
# Aplicar funciones de limpieza
df_limpio = eliminar_duplicados(df)
df_limpio = reemplazar_nulos(df_limpio)
df_limpio

## üìä Estad√≠sticas descriptivas

Calcularemos media, mediana, moda y rango para la columna **edad**.

In [ ]:
edad = df_limpio["edad"]

media = edad.mean()
mediana = edad.median()
moda = edad.mode()[0]
rango = edad.max() - edad.min()

print("Media:", media)
print("Mediana:", mediana)
print("Moda:", moda)
print("Rango:", rango)