In [1]:
import pandas as pd

# Definimos 10 registros originales
datos = {
    'Título': ['The Witcher 3', 'Elden Ring', 'Zelda: BotW', 'Minecraft', 'Cyberpunk 2077', 
               'Hades', 'Doom Eternal', 'Red Dead 2', 'Skyrim', 'Tetris Effect'],
    'Género': ['RPG', 'Action RPG', 'Aventura', 'Sandbox', 'RPG', 
               'Roguelike', 'Shooter', 'Acción', 'RPG', 'Puzzle'],
    'Ventas (M)': [50, 20, 30, 238, 25, 1, 5, 55, 60, 1],
    'Lanzamiento': [2015, 2022, 2017, 2011, 2020, 2020, 2020, 2018, 2011, 2018]
}

df_juegos = pd.DataFrame(datos)

# Mostrar los primeros registros
print("--- DataFrame de Videojuegos ---")
display(df_juegos)

--- DataFrame de Videojuegos ---

           Título      Género  Ventas (M)  Lanzamiento
0   The Witcher 3         RPG          50         2015
1      Elden Ring  Action RPG          20         2022
2     Zelda: BotW    Aventura          30         2017
3       Minecraft     Sandbox         238         2011
4  Cyberpunk 2077         RPG          25         2020
5           Hades   Roguelike           1         2020
6    Doom Eternal     Shooter           5         2020
7      Red Dead 2      Acción          55         2018
8          Skyrim         RPG          60         2011
9   Tetris Effect      Puzzle           1         2018

In [2]:
print("\n1. Información general:")
print(df_juegos.info())

print("\n2. Estadísticas descriptivas:")
display(df_juegos.describe())

1. Información general:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Título       10 non-null     object
 1   Género       10 non-null     object
 2   Ventas (M)   10 non-null     int64
 3   Lanzamiento  10 non-null     int64
dtypes: int64(2), object(2)
memory usage: 452.0+ bytes
None

2. Estadísticas descriptivas:

       Ventas (M)  Lanzamiento
count   10.000000    10.000000
mean    48.500000  2017.200000
std     70.078131     3.794733
min      1.000000  2011.000000
25%      8.750000  2015.500000
50%     27.500000  2018.000000
75%     53.750000  2020.000000
max    238.000000  2022.000000

In [3]:
# Filtrar juegos con ventas > 30M
exitosos = df_juegos[df_juegos['Ventas (M)'] > 30]

print("--- Juegos con más de 30 millones en ventas ---")
display(exitosos)

# Filtrar solo juegos de género RPG
rpg_games = df_juegos[df_juegos['Género'] == 'RPG']

print("\n--- Catálogo de RPGs ---")
display(rpg_games)

--- Juegos con más de 30 millones en ventas ---

          Título   Género  Ventas (M)  Lanzamiento
0  The Witcher 3      RPG          50         2015
3      Minecraft  Sandbox         238         2011
7     Red Dead 2   Acción          55         2018
8         Skyrim      RPG          60         2011

--- Catálogo de RPGs ---

           Título Género  Ventas (M)  Lanzamiento
0   The Witcher 3    RPG          50         2015
4  Cyberpunk 2077    RPG          25         2020
8          Skyrim    RPG          60         2011